<template>
  <v-container>
    <h1>Home</h1>
    <div v-if="$apollo.loading">Loading...</div>
    <ul
      v-else
      v-for="post in getPosts"
      :key="post._id"
    >
      <li>{{post.title}}</li>
      <li>{{post.imageUrl}}</li>
      <li>{{post.description }}</li>
      <li>{{post.likes}}</li>
    </ul>
  </v-container>
</template>

<script>
import { gql } from "apollo-boost";

export default {
  name: "Home",
  data() {
    return {
      posts: []
    };
  },
  apollo: {
    getPosts: {
      query: gql`
        query {
          getPosts {
            _id
            title
            imageUrl
            description
            likes
          }
        }
      `
      /*result({ data, loading, networkStatus }) {
        if (!loading) {
          this.posts = data.getPosts;
          console.log("[networkStatus]", networkStatus);
        }
      },
      error(err) {
        console.log("[ERROR!!]", err);
        conole.dir(err);
      }*/
    }
  }
};
</script>